<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.crm_system.mapper.ContactMapper">
    
    <insert id="insert" parameterType="com.crm.crm_system.entity.Contact">
        INSERT INTO m_contact (
            customer_id, internal_rep, contact_name, department, tel_no, email, created_at, updated_at
        ) VALUES (
            #{customerId}, #{internalRep}, #{contactName}, #{department}, #{telNo}, #{email}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
        )
    </insert>
    
    <delete id="deleteByCustomerId">
        DELETE FROM m_contact WHERE customer_id = #{customerId}
    </delete>
    
    <select id="selectByCustomerId" resultType="com.crm.crm_system.entity.Contact">
        SELECT 
            contact_id AS contactId,
            customer_id AS customerId,
            internal_rep AS internalRep,
            contact_name AS contactName,
            department,
            tel_no AS telNo,
            email,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM m_contact 
        WHERE customer_id = #{customerId} 
        ORDER BY contact_id
    </select>
    
</mapper>

